body{
    box-sizing: border-box;
    direction: rtl;
}
/* alphabet_Style */
.sentence_alpha{
    display: block;
}
.sentence_alpha .btn{
    color: rgb(212, 204, 87);
    font-size: 1.5em;
}
.sentence_alpha .btn:hover{
    color: rgb(96, 34, 9);
    font-size: 1.5em;
    transition: 0.5s;
}

.enWord{
    /* border: 3px solid rgb(61, 61, 215); */
    font-size: 5em;
    text-align: center;
    padding: 30px 0;
    color: rgb(244, 247, 247);
    border: 5px solid rgb(9, 204, 19);
    position: sticky;
    top: 250px;
    }
.letN .enWord{
    font-size: 4em;
}
.wpic{
    height: 40%vh;
}
.wpic img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.pageN1 h2{
    font-size: 36px;
    line-height: 200%;
    padding-right: 20px;
}



/* *********************** alphabet***************** */
#sententceN-1 , #letterW-k1{
    display: none;
    color: rgb(5, 48, 48);
    color: rgb(101, 8, 75);
}


/* *********************word****************** */
.hov:hover{
    cursor: pointer;
}
#sentenceZad-1{
    display: none;
}
.dis-none{
    display: none;
}
.flower-bg{
    background-image:url("images/webPic/flowers-6515538_1280.jpg") ;
    
    /* background-color: #7b1b1b; */
}



/* ******************************* Story Style**************** */
.story-title{
    text-align: center;
    border-radius: 3px;
}
.text-story{
    font-size: 2em;
    background: #f7f2f2;
    line-height: 2em;
    padding: 20px;
    border-radius: 3px;
}
.text-story span{
    border-bottom: 2px dashed rgb(129, 19, 19);
}